<p id="notice"><%= notice %></p>

<p>
  <strong>Ticket type:</strong>
  <%= @ticket.ticket_type %>
</p>

<p>
  <strong>Order:</strong>
  <%= @ticket.order %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
